

html {
    background-color: rgb(196, 196, 196);
}
body {
    background-color: rgb(196, 196, 196);
    

}

#current-city-cont{
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid rgb(218, 218, 218);
    box-shadow: 8px 4px #D72638;
    margin: 25px;
}

.col {
    /* border: 4px dotted black; */
    text-align: center;
}

#title-tag {
    font-family: 'Bowlby One', cursive;
    color: #FF570A;
    font-size: 30px;
    background-color: #12355B;
}

#city-search {
    margin: 10px;
}

#main-cont {
    background-color: #12355B;

    padding: 100px;
}

#search-output {
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid rgb(218, 218, 218);
    box-shadow: 8px 4px #D72638;
    margin: 25px;
}

.predicted-day {
    font-size: 20px bold;
}

.search-item {
    border-right: 1px solid #D72638;
}

#base {
    margin: 15px;
}

#sec1 {   
    border-right: 1px solid #D72638;
 }
#sec2 {   
    border-right: 1px solid #D72638;
 }

